extends layout

block content
  //- <!-- topbar starts -->
  div.navbar.navbar-default(role="navigation")
    div.navbar-inner
      button.navbar-toggle.pull-left.animated.flip(type="button")
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="index.html")
        img.hidden-xs(src="img/logo20.png", alt="Charisma Logo")
        span
          | #{title}

      //- <!-- user dropdown starts -->
      div.btn-group.pull-right
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          i.glyphicon.glyphicon-user
          span.hidden-sm.hidden-xs
            | admin
          span.caret
        ul.dropdown-menu
          li
            a(href="")
              | Profile
          li.divider
          li
            a(href="login.html")
              | Logout
      //- <!-- user dropdown ends -->

      //- <!-- theme selector starts -->
      div.btn-group.pull-right.theme-container.animated.tada
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          i.glyphicon.glyphicon-tint
          span.hidden-sm.hidden-xs
            | Change Theme / Skin
          span.caret
        ul#themes.dropdown-menu
          li
            a(href="#", data-value="classic")
              i.whitespace
              | Classic
          li
            a(href="#", data-value="cerulean")
              i.whitespace
              | Cerulean
          li
            a(href="#", data-value="cyborg")
              i.whitespace
              | Cyborg
          li
            a(href="#", data-value="simplex")
              i.whitespace
              | Simplex
          li
            a(href="#", data-value="darkly")
              i.whitespace
              | Darkly
          li
            a(href="#", data-value="lumen")
              i.whitespace
              | Lumen
          li
            a(href="#", data-value="slate")
              i.whitespace
              | Slate
          li
            a(href="#", data-value="spacelab")
              i.whitespace
              | Spacelab
          li
            a(href="#", data-value="united")
              i.whitespace
              | United
      //- <!-- theme selector ends -->

      //- <!-- search forms starts -->
      ul.collapse.navbar-collapse.nav.navbar-nav.top-menu
        li
          a(href="#")
            i.glyphicon.glyphicon-globe
            |  Visit Site
        
        li.dropdown
          a(href="#", data-toggle="dropdown")
            i.glyphicon.glyphicon-star
            |  Dropdown 
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#")
                | Action
            li
              a(href="#")
                | Another action
            li
              a(href="#")
                | Something else here
            li.divider
            li
              a(href="#")
                | Separated link
            li.divider
            li
              a(href="#")
                | One more separated link
                
        li
          form.navbar-search.pull-left
            input.search-query.form-control.col-md-10(type="text", name="query", placeholder="Search")
      //- <!-- search forms ends -->
  //- <!-- topbar ends -->

  //- <!-- container starts -->
  div.ch-container
    div.row
      //- <!-- left menu starts -->
      div.col-sm-2.col-lg-2
        div.sidebar-nav
          div.nav-canvas
            div.nav-sm.nav.nav-stacked
            ul.nav.nav-pills.nav-stacked.main-menu
              li.nav-header
                | Main
              li
                a.ajax-link(href="index.html")
                  i.glyphicon.glyphicon-home
                  span
                    |  Dashboard

              li
                a.ajax-link(href="ui.html")
                  i.glyphicon.glyphicon-eye-open
                  span
                    |  UI Features
              li
                a.ajax-link(href="form.html")
                  i.glyphicon.glyphicon-edit
                  span
                    |  Forms
              li
                a.ajax-link(href="chart.html")
                  i.glyphicon.glyphicon-list-alt
                  span
                    |  Charts
              li
                a.ajax-link(href="typography.html")
                  i.glyphicon.glyphicon-font
                  span
                    |  Typography
              li
                a.ajax-link(href="gallery.html")
                  i.glyphicon.glyphicon-picture
                  span
                    |  Gallery

              li.nav-header.hidden-md
                | Sample Section

              li
                a.ajax-link(href="table.html")
                  i.glyphicon.glyphicon-align-justify
                  span
                    |  Tables
              
              li.accordion
                a(href="#")
                  i.glyphicon.glyphicon-plus
                  span
                    |  Accordion Menu
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href="#")
                      | Child Menu 1
                  li
                    a(href="#")
                      | Child Menu 2

              li
                a.ajax-link(href="calendar.html")
                  i.glyphicon.glyphicon-calendar
                  span
                    |  Calendar
              li
                a.ajax-link(href="grid.html")
                  i.glyphicon.glyphicon-th
                  span
                    |  Grid
              li
                a(href="tour.html")
                  i.glyphicon.glyphicon-globe
                  span
                    |  Tour
              li
                a.ajax-link(href="icon.html")
                  i.glyphicon.glyphicon-star
                  span
                    |  Icons
              li
                a(href="error.html")
                  i.glyphicon.glyphicon-ban-circle
                  span
                    |  Error Page
              li
                a(href="login.html")
                  i.glyphicon.glyphicon-lock
                  span
                    |  Login Page
            label#for-is-ajax(for="is-ajax")
              input#is-ajax(type="checkbox")
              |  Ajax on menu
      //- <!-- left menu ends -->

      //- noscript starts
      noscript
        div.alert.alert-block.col-md-12
          h4.alert-heading
            | Warning!
          p
            | You need to have 
            a(href="http://en.wikipedia.org/wiki/JavaScript", target="_blank")
              | JavaScript
            | enabled to use this site.
      //- noscript ends

      //- <!-- content starts -->
      div#content.col-lg-10.col-sm-10
        //- breadcrumb start
        div
          ul.breadcrumb
            li
              a(href="#")
                | Home
            li
              a(href="#")
                | Dashboard
        //- breadcrumb end

        div.row
          div.col-md-3.col-sm-3.col-xs-6
            a.well.top-block(href="#", data-toggle="tooltip", title="6 new members.")
              i.glyphicon.glyphicon-user.blue
              div
                | Total Members
              div
                | 507
              span.notification
                | 6
          div.col-md-3.col-sm-3.col-xs-6
            a.well.top-block(href="#", data-toggle="tooltip", title="4 new pro members.")
              i.glyphicon.glyphicon-star.green
              div
                | Pro Members
              div
                | 228
              span.notification.green
                | 4
          div.col-md-3.col-sm-3.col-xs-6
            a.well.top-block(href="#", data-toggle="tooltip", title="$34 new sales.")
              i.glyphicon.glyphicon-shopping-cart.yellow
              div
                | Sales
              div
                | $13320
              span.notification.yellow
                | $34
          div.col-md-3.col-sm-3.col-xs-6
            a.well.top-block(href="#", data-toggle="tooltip", title="12 new messages.")
              i.glyphicon.glyphicon-envelope.red
              div
                | Messages
              div
                | 25
              span.notification.red
                | 12
      
        //- Introduction start
        div.row
          div.box.col-md-12
            div.box-inner
              div.box-header.well
                h2
                  i.glyphicon.glyphicon-info-sign
                  |  Introduction
                div.box-icon
                  a.btn.btn-setting.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-cog
                  a.btn.btn-minimize.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-chevron-up
                  a.btn.btn-close.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-remove

              div.box-content.row
                div.col-lg-7.col-md-12
                  h1
                    | Charisma
                    br
                    small
                      | free, premium quality, responsive, multiple skin admin template.
                  p
                    | It's a live demo of the template. I have created Charisma to ease the repeat work I have to do on my
                    | projects. Now I re-use Charisma as a base for my admin panel work and I am sharing it with you :)
                  p
                    b
                      | All pages in the menu are functional, take a look at all, please share this with your followers.

                  p.center-block.download-buttons
                    a.btn.btn-primary.btn-lg(href="http://usman.it/free-responsive-admin-template/")
                      i.glyphicon.glyphicon-chevron-left.glyphicon-white
                      |  Back to article
                    a.btn.btn-default.btn-lg(href="http://usman.it/free-responsive-admin-template/")
                      i.glyphicon.glyphicon-download-alt
                      |  Download Page
        //- Introduction end

        //- Tabs, Menber Activity, Keep in touch start
        div.row
          //- Tabs start
          div.box.col-md-4
            div.box-inner.homepage-box
              div.box-header.well
                h2
                  i.glyphicon.glyphicon-th
                  |  Tabs
                div.box-icon
                  a.btn.btn-setting.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-cog
                  a.btn.btn-minimize.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-chevron-up
                  a.btn.btn-close.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-remove

              div.box-content
                ul.nav.nav-tabs#myTab
                  li.active
                    a(href="#info")
                      | Info
                  li
                    a(href="#custom")
                      | Custom
                  li
                    a(href="#messages")
                      | Messages

                div#myTabContent.tab-content
                  div.tab-pane.active#info
                    h3
                      | Charisma
                      small
                        | a full featured template
                    p 
                      | It's a full featured, responsive template for your admin panel. It's optimized for tablets and mobile phones.
                    p 
                      | Check how it looks on different devices:
                    a(href="http://www.responsinator.com/?url=usman.it%2Fthemes%2Fcharisma", target="_blank")
                      strong
                        | Preview on iPhone size.
                    br
                    a(href="http://www.responsinator.com/?url=usman.it%2Fthemes%2Fcharisma", target="_blank")
                      strong
                        | Preview on iPad size.
                  div.tab-pane#custom
                    h3
                      | Custom
                      small
                        | small text
                    p
                      | Sample paragraph.
                    p
                      | Your custom text.
                  div.tab-pane#messages
                    h3
                      | Messages
                      small
                        | small text
                    p
                      | Sample paragraph.
                    p
                      | Your custom text.
          //- Tabs end

          //- Member Activity start          
          div.box.col-md-4
            div.box-inner
              div.box-header.well(data-original-title="")
                h2
                  i.glyphicon.glyphicon-user
                  |  Member Activity
                div.box-icon
                  a.btn.btn-minimize.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-chevron-up
                  a.btn.btn-close.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-remove
            div.box-content
              div.box-content
                ul.dashboard-list
                  li
                    a(href="#")
                      img.dashboard-avatar(src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50", alt="Usman")
                    strong
                      | Name:
                    a(href="#")
                      | Usman
                    br
                    strong
                      | Since:
                    | 17/05/2014
                    br
                    strong
                      | Status:
                    span.label-success.label.label-default
                      | Approved
                  li
                    a(href="#")
                      img.dashboard-avatar(src="http://www.gravatar.com/avatar/3232415a0380253cfffe19163d04acab.png?s=50", alt="Sheikh Heera")
                    strong
                      | Name:
                    a(href="#")
                      | Sheikh Heera
                    br
                    strong
                      | Since:
                    | 17/05/2014
                    br
                    strong
                      | Status:
                    span.label-warning.label.label-default
                      | Pending
                  li
                    a(href="#")
                      img.dashboard-avatar(src="http://www.gravatar.com/avatar/46056f772bde7c536e2086004e300a04.png?s=50", alt="Abdullah")
                    strong
                      | Name:
                    a(href="#")
                      | Abdullah
                    br
                    strong
                      | Since:
                    | 17/05/2014
                    br
                    strong
                      | Status:
                    span.label-default.label.label-danger
                      | Banned
                  li
                    a(href="#")
                      img.dashboard-avatar(src="http://www.gravatar.com/avatar/hash", alt="Sana Amrin")
                    strong
                      | Name:
                    a(href="#")
                      | Sana Amrin
                    br
                    strong
                      | Since:
                    | 17/05/2014
                    br
                    strong
                      | Status:
                    span.label.label-info
                      | Updates
          //- Member Activity end

          //- Keep in touch start
          div.box.col-md-4
            div.box-inner.homepage-box
              div.box-header.well(data-original-title="")
                h2
                  i.glyphicon.glyphicon-list-alt
                  |  Keep in touch
                div.box-icon
                  a.btn.btn-minimize.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-chevron-up
                  a.btn.btn-close.btn-round.btn-default(href="#")
                    i.glyphicon.glyphicon-remove
              div.box-content
                h3
                  | Stay updated with my projects and blog posts
                //- <!-- Begin MailChimp Signup Form .mc_embed_signup-->
                div.mc_embed_signup
                  form#mc-embedded-subscribe-form.validate(action="//halalit.us3.list-manage.com/subscribe/post?u=444b176aa3c39f656c66381f6&amp;id=eeb0c04e84", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate)
                    div
                      label
                        | Please enter your email
                      input.email(type="email", name="email", placeholder="Email address", required)
                      div.power_field
                        input(type="text", name="b_444b176aa3c39f656c66381f6_eeb0c04e84")
                      div.clear
                        input.button(type="submit", value="Subscribe", name="subscribe")
                
                //- <!--End mc_embed_signup-->
                br
                p
                  | You may like my other open source work, check my profile on 
                  a(href="http://github.com/usmanhalalit", target="_blank")
                    | GitHub
                  | .
          //- Keep in touch end
        //- Tabs, Menber Activity, Keep in touch end

      //- <!-- content ends -->
  //- <!-- container ends -->


