extends layout

block content
  //- <!-- topbar starts -->
  div.navbar.navbar-default(role="navigation")
    div.navbar-inner
      button.navbar-toggle.pull-left.animated.flip(type="button")
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="index.html")
        img.hidden-xs(src="img/logo20.png", alt="Charisma Logo")
        span
          | #{title}

      //- <!-- user dropdown starts -->
      div.btn-group.pull-right
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          i.glyphicon.glyphicon-user
          span.hidden-sm.hidden-xs
            | admin
          span.caret
        ul.dropdown-menu
          li
            a(href="")
              | Profile
          li.divider
          li
            a(href="login.html")
              | Logout
      //- <!-- user dropdown ends -->

      //- <!-- theme selector starts -->
      div.btn-group.pull-right.theme-container.animated.tada
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          i.glyphicon.glyphicon-tint
          span.hidden-sm.hidden-xs
            | Change Theme / Skin
          span.caret
        ul#themes.dropdown-menu
          li
            a(href="#", data-value="classic")
              i.whitespace
              | Classic
          li
            a(href="#", data-value="cerulean")
              i.whitespace
              | Cerulean
          li
            a(href="#", data-value="cyborg")
              i.whitespace
              | Cyborg
          li
            a(href="#", data-value="simplex")
              i.whitespace
              | Simplex
          li
            a(href="#", data-value="darkly")
              i.whitespace
              | Darkly
          li
            a(href="#", data-value="lumen")
              i.whitespace
              | Lumen
          li
            a(href="#", data-value="slate")
              i.whitespace
              | Slate
          li
            a(href="#", data-value="spacelab")
              i.whitespace
              | Spacelab
          li
            a(href="#", data-value="united")
              i.whitespace
              | United
      //- <!-- theme selector ends -->

      //- <!-- search forms starts -->
      ul.collapse.navbar-collapse.nav.navbar-nav.top-menu
        li
          a(href="#")
            i.glyphicon.glyphicon-globe
            |  Visit Site
        
        li.dropdown
          a(href="#", data-toggle="dropdown")
            i.glyphicon.glyphicon-star
            |  Dropdown
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="#")
                | Action
            li
              a(href="#")
                | Another action
            li
              a(href="#")
                | Something else here
            li.divider
            li
              a(href="#")
                | Separated link
            li.divider
            li
              a(href="#")
                | One more separated link
                
        li
          form.navbar-search.pull-left
            input.search-query.form-control.col-md-10(type="text", name="query", placeholder="Search")
      //- <!-- search forms ends -->
  //- <!-- topbar ends -->

  //- <!-- container starts -->
  div.ch-container
    div.row
      //- <!-- left menu starts -->
      div.col-sm-2.col-lg-2
        div.sidebar-nav
          div.nav-canvas
            div.nav-sm.nav.nav-stacked
            ul.nav.nav-pills.nav-stacked.main-menu
              li.nav-header
                | Main
              li
                a.ajax-link(href="index.html")
                  i.glyphicon.glyphicon-home
                  span
                    |  Dashboard

              li
                a.ajax-link(href="ui.html")
                  i.glyphicon.glyphicon-eye-open
                  span
                    |  UI Features
              li
                a.ajax-link(href="form.html")
                  i.glyphicon.glyphicon-edit
                  span
                    |  Forms
              li
                a.ajax-link(href="chart.html")
                  i.glyphicon.glyphicon-list-alt
                  span
                    |  Charts
              li
                a.ajax-link(href="typography.html")
                  i.glyphicon.glyphicon-font
                  span
                    |  Typography
              li
                a.ajax-link(href="gallery.html")
                  i.glyphicon.glyphicon-picture
                  span
                    |  Gallery

              li.nav-header.hidden-md
                | Sample Section

              li
                a.ajax-link(href="table.html")
                  i.glyphicon.glyphicon-align-justify
                  span
                    |  Tables
              
              li.accordion
                a(href="#")
                  i.glyphicon.glyphicon-plus
                  span
                    |  Accordion Menu
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href="#")
                      | Child Menu 1
                  li
                    a(href="#")
                      | Child Menu 2

              li
                a.ajax-link(href="calendar.html")
                  i.glyphicon.glyphicon-calendar
                  span
                    |  Calendar
              li
                a.ajax-link(href="grid.html")
                  i.glyphicon.glyphicon-th
                  span
                    |  Grid
              li
                a(href="tour.html")
                  i.glyphicon.glyphicon-globe
                  span
                    |  Tour
              li
                a.ajax-link(href="icon.html")
                  i.glyphicon.glyphicon-star
                  span
                    |  Icons
              li
                a(href="error.html")
                  i.glyphicon.glyphicon-ban-circle
                  span
                    |  Error Page
              li
                a(href="login.html")
                  i.glyphicon.glyphicon-lock
                  span
                    |  Login Page
            label#for-is-ajax(for="is-ajax")
              input#is-ajax(type="checkbox")
              |  Ajax on menu
      //- <!-- left menu ends -->

      //- noscript starts
      noscript
        div.alert.alert-block.col-md-12
          h4.alert-heading
            | Warning!
          p
            | You need to have 
            a(href="http://en.wikipedia.org/wiki/JavaScript", target="_blank")
              | JavaScript
            | enabled to use this site.
      //- noscript ends

      //- <!-- content starts -->
      div#content.col-lg-10.col-sm-10
        
      //- <!-- content ends -->
  //- <!-- container ends -->


