//- <!-- left menu starts -->
div.col-sm-2.col-lg-2
  div.sidebar-nav
    div.nav-canvas
      div.nav-sm.nav.nav-stacked
      ul.nav.nav-pills.nav-stacked.main-menu
        li.nav-header
          | Main
        li
          a.ajax-link(href="index.html")
            i.glyphicon.glyphicon-home
            span
              |  Dashboard
        li
          a.ajax-link(href="/ore")
            i.glyphicon.glyphicon-eye-open
            span
              |  鉱石
        li
          a.ajax-link(href="/recipe")
            i.glyphicon.glyphicon-edit
            span
              |  レシピ
        li
          a.ajax-link(href="/power")
            i.glyphicon.glyphicon-edit
            span
              |  電力
        li
          a.ajax-link(href="ui.html")
            i.glyphicon.glyphicon-eye-open
            span
              |  UI Features
        li
          a.ajax-link(href="form.html")
            i.glyphicon.glyphicon-edit
            span
              |  Forms
        li
          a.ajax-link(href="chart.html")
            i.glyphicon.glyphicon-list-alt
            span
              |  Charts
        li
          a.ajax-link(href="typography.html")
            i.glyphicon.glyphicon-font
            span
              |  Typography
        li
          a.ajax-link(href="gallery.html")
            i.glyphicon.glyphicon-picture
            span
              |  Gallery

        li.nav-header.hidden-md
          | Sample Section

        li
          a.ajax-link(href="table.html")
            i.glyphicon.glyphicon-align-justify
            span
              |  Tables
        
        li.accordion
          a(href="#")
            i.glyphicon.glyphicon-plus
            span
              |  Accordion Menu
          ul.nav.nav-pills.nav-stacked
            li
              a(href="#")
                | Child Menu 1
            li
              a(href="#")
                | Child Menu 2

        li
          a.ajax-link(href="calendar.html")
            i.glyphicon.glyphicon-calendar
            span
              |  Calendar
        li
          a.ajax-link(href="grid.html")
            i.glyphicon.glyphicon-th
            span
              |  Grid
        li
          a(href="tour.html")
            i.glyphicon.glyphicon-globe
            span
              |  Tour
        li
          a.ajax-link(href="icon.html")
            i.glyphicon.glyphicon-star
            span
              |  Icons
        li
          a(href="error.html")
            i.glyphicon.glyphicon-ban-circle
            span
              |  Error Page
        li
          a(href="login.html")
            i.glyphicon.glyphicon-lock
            span
              |  Login Page
      label#for-is-ajax(for="is-ajax")
        input#is-ajax(type="checkbox")
        |  Ajax on menu
//- <!-- left menu ends -->