extends loginlayout

block content

  div.ch-container
    div.row
      div.row
        div.col-md-12.center.login-header
          //- h1= title
          //- p Welcome to #{title}
          h2 Welcome to #{title}
      
      div.row
        div.well.col-md-5.center.login-box
          div.alert.alert-info
            | Please login with your Username and Password.
            
          form.form-horizontal(action="/login", method="post")
            fieldset
              div.input-group.input-group-lg
                span.input-group-addon: i.glyphicon.glyphicon-user.red
                if debugMode
                  input.form-control(type="text", name="username", placeholder="Username", value="admin")
                else
                  input.form-control(type="text", name="username", placeholder="Username")
              div.inputclearfix: br

              div.input-group.input-group-lg
                span.input-group-addon: i.glyphicon.glyphicon-lock.red
                if debugMode
                  input.form-control(type="text", name="password", placeholder="Password", value="admin")
                else
                  input.form-control(type="password", name="password", placeholder="Password")

              div.inputclearfix

              div.input-prepend
                label.remember(for="remember") 
                  input#remember(type="checkbox") 
                  |  Remember me 
                
              div.inputclearfix

              p.center.col-md-5
                button.btn.btn-primary(type="submit") Login
