html(lang="ja")
    head
        meta(charset="UTF-8")
        title=title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link#bs-css(href="./css/bootstrap-cerulean.min.css", rel="stylesheet")

        link(href="css/charisma-app.css", rel="stylesheet")
        link(href="bower_components/fullcalendar/dist/fullcalendar.css", rel="stylesheet")
        link(href="bower_components/fullcalendar/dist/fullcalendar.print.css", rel="stylesheet", media="print" )
        link(href="bower_components/chosen/chosen.min.css", rel="stylesheet")
        link(href="bower_components/colorbox/example3/colorbox.css", rel="stylesheet")
        link(href="bower_components/responsive-tables/responsive-tables.css", rel="stylesheet")
        link(href="bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css", rel="stylesheet")
        
        link(href="css/jquery.noty.css", rel="stylesheet")
        link(href="css/noty_theme_default.css", rel="stylesheet")
        link(href="css/elfinder.min.css", rel="stylesheet")
        link(href="css/elfinder.theme.css", rel="stylesheet")
        link(href="css/jquery.iphone.toggle.css", rel="stylesheet")
        link(href="css/uploadify.css", rel="stylesheet")
        link(href="css/animate.min.css", rel="stylesheet")

        script(src="bower_components/jquery/jquery.min.js")

        link(rel="shortcut icon", href="/img/favicon.ico")

    body
        block content

        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

        //- <!-- library for cookie management -->
        script(src="js/jquery.cookie.js")
        //- <!-- calender plugin -->
        script(src='bower_components/moment/min/moment.min.js')
        script(src='bower_components/fullcalendar/dist/fullcalendar.min.js')
        //- <!-- data table plugin -->
        script(src='js/jquery.dataTables.min.js')
  
        //- <!-- select or dropdown enhancer -->
        script(src="bower_components/chosen/chosen.jquery.min.js")
        //- <!-- plugin for gallery image view -->
        script(src="bower_components/colorbox/jquery.colorbox-min.js")
        //- <!-- notification plugin -->
        script(src="js/jquery.noty.js")
        //- <!-- library for making tables responsive -->
        script(src="bower_components/responsive-tables/responsive-tables.js")
        //- <!-- tour plugin -->
        script(src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js")
        //- <!-- star rating plugin -->
        script(src="js/jquery.raty.min.js")
        //- <!-- for iOS style toggle switch -->
        script(src="js/jquery.iphone.toggle.js")
        //- <!-- autogrowing textarea plugin -->
        script(src="js/jquery.autogrow-textarea.js")
        //- <!-- multiple file upload plugin -->
        script(src="js/jquery.uploadify-3.1.min.js")
        //- <!-- history.js for cross-browser state change on ajax -->
        script(src="js/jquery.history.js")
        //- <!-- application script for Charisma demo -->
        script(src="js/charisma.js")
        
        script(src="/socket.io/socket.io.js")
        script(src="client.js")